<!-- FOOTER -->
<footer class="text-center p-3 mt-auto">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <p class="menu">
          <a href="https://github.com/HackerNews/API" class="text-decoration-none" target="_blank">
            <i class="bi bi-braces"></i>
            API
          </a>
          <i>
            -
          </i>
          <a href="https://news.ycombinator.com/" class="text-decoration-none" target="_blank">
            <i class="bi bi-newspaper"></i>
            Hacker News
          </a>
      </p>
    </div>
  </div>
    <div class="row">
      <div class="text-center">
        <p class="copyright">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://github.com/FastFingertips" class="text-decoration-none" target="_blank">@FastFingertips</a>.
        </p>
      </div>
    </div>
  </div>
</footer>