<!-- FOOTER -->
<footer class="text-center p-3 mt-auto">
  <a href="https://github.com/FastFingertips" class="navbar-brand text-decoration-none" target="_blank">
    <i class="bi bi-github"></i>
    @FastFingertips
  </a>
  -
  <a href="https://news.ycombinator.com/" class="navbar-brand text-decoration-none" target="_blank">
    <i class="bi bi-newspaper"></i>
    Hacker News
  </a>
  -
  <a href="https://github.com/HackerNews/API" class="navbar-brand text-decoration-none" target="_blank">
    <i class="bi bi-braces"></i>
    API
  </a>
</footer>