{% extends 'layout.html' %}
{% block container %}
  {% if articles %}
    <!-- TABLE START -->
    {% include 'includes/table.html' %}
    <!-- TABLE END -->
    {% if pagination %}
      {% if pagination.pages == 1 %}
      <!-- No pagination: only one page -->
      {% else %}
      <!-- Pagination Links Start -->
      {% include 'includes/pagination.html' %}
      <!-- Pagination Links End -->
      {% endif %}
    {% else %}
    <!-- No pagination -->
    {% endif %}
  {% else %}
    <div class="alert alert-warning" role="alert">
      Any article not found!
    </div>
  {% endif %}
{% endblock %}